/*ui-infoDetails*/
.user-main .about .secondary dl {
  margin-left: 10px;
}
.my-detail-class {
  background-color: white;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.my-detail-class dd {
  padding: 0;
  color: var(--primary);
  display: inline-flex;
}
.my-detail-class dt {
  color: var(--secondary-medium);
  display: inline-flex;
}
.my-detail-class div {
  line-height: 1%;
  display: inline-block;
}
.mybox-stlye div {
  display: inline-block;
  margin-inline: 5%;
}
.biofont {
  margin-top: 0;
  font-size: small;
  font-weight: 400;
}
.biofont span {
  font-weight: 300;
  display: inline-flex;
}
.biofont p {
  display: inline-flex;
}
/*ui::primary navigator*/
.ios-device .btn {
  /*禁用下载按钮*/
  display: none;
}
.ios-device .mobile-nav > li > a.expander {
  display: none;
  /*禁用下拉栏*/
}
.mobile-nav {
  list-style: none;
  border: none;
  color: var(--primary);
  font-size: var(--font-up-1);
  line-height: var(--line-height-small);
  display: flex;
  transition: background-color 0.2s, color 0.2s;
  flex-direction: column;
  align-items: flex-start;
  margin: 5%;
}
.user-content-wrapper .user-primary-navigation {
  background-color: white;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-right: 3%;
  padding-left: 3%;
}
.user-content-wrapper .user-secondary-navigation {
  display: none;
}
.mobile-nav {
  line-height: 55px;
  margin: 10%;
}
#main-outlet-wrapper {
  background-color: #ededed;
}
.user-content-wrapper .user-additional-controls + .user-content,
.user-content-wrapper .user-secondary-navigation + .user-content {
  grid-column-start: 1;
  border-radius: 5%;
  padding: 15px;
}
.user-main .about .details .primary {
  margin-top: 5%;
}
.user-main .collapsed-info.about .details {
  padding: 5%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 1%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: white;
}
.user-main .about.collapsed-info .details .primary .avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
/**************************************/
.user-primary-navigation a {
  font-size: var(--font-0);
  border: none;
  color: var(--primary);
  font-size: var(--font-up-1);
  line-height: var(--line-height-small);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: background-color 0.2s, color 0.2s;
  padding: 8%;
}
.user-primary-navigation a.active {
  color: var(--secondary);
  background-color: var(--quaternary);
  border-radius: 10;
  transition: all 0.3s linear;
}
.user-primary-navigation li {
  display: inline-block;
  padding: 1%;
}
