/*ui-infoDetails*/

.user-main .about .secondary dl {
  padding-left: 5%;
  background-color: white;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
.user-main .about .details .primary {
  background-color: white;
}

////////////////////////////
.my-user-page .mobile-nav {
  line-height: 50px;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
#main-outlet-wrapper {
  background-color: var(--primary-50);
}
.my-user-page .user-content-wrapper .user-additional-controls + .user-content,
.user-content-wrapper .user-secondary-navigation + .user-content {
  grid-column-start: 1;
  border-radius: 2em;
  padding: 15px;
}

/*mian-navi bar*/
.my-user-page .user-content-wrapper {
  background-color: white;
  margin-top: 3%;
  border-radius: 2em !important;
  column-gap: 2px;
}
.my-user-page .mobile-nav li {
  border-bottom: solid var(--primary-500) 0.1px;
}
.my-user-page .mobile-nav li a.active {
  color: var(--secondary);
  background-color: var(--quaternary);
  border-radius: 1em;
  transition: all 0.5s linear;
  display: inline-block;
}
.my-user-page .user-content-wrapper .user-primary-navigation {
  grid-column-end: 3;
}
.my-user-page .user-primary-navigation a {
  display: inherit;
}
/* navi-outlet-content*/
.my-outlet-page {
  grid-column-start: 1;
  grid-column-end: 3;
}
.my-outlet-page .user-secondary-navigation li {
  display: inline-block;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: none;
}
.my-outlet-page .mobile-nav {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
}
.my-outlet-page a {
  text-align: center;
}
.my-outlet-page a.active {
  min-width: 100px;
  text-align: center;
}
.my-return-btn {
  background-color: var(--quaternary);
  padding: 2%;
  padding-right: 2%;
  border-radius: 2em;
  border: 0ch;
  position: fixed;
  bottom: 6em;
  right: 3em;
  z-index: 300;
  opacity: 75%;
}
.my-return-btn a {
  color: white;
  font-size: x-large;
  font-weight: 1000;
}
/*other's ui*/
.user-main .user-content {
  padding-top: 1%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.others-topics .mobile-nav li {
  display: none;
}
.others-topics .summary {
  background-color: white;
  padding: 5%;
  padding-left: 8%;
  font-size: large;
  font-weight: 800;
  list-style: none;
}

.others-topics li a {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
}
.others-topics li a.active {
  color: var(--secondary);
  background-color: var(--quaternary);
  border-radius: 10px;
  transition: all 0.3s linear;
  display: inline-block;
}
/*input && select-kit  border*/
/*
.ios-device input[type="text"] {
  border-radius: 8px;
  border: 1px solid var(--primary-medium);
}
*/
/** page padding reset*/
.my-account-page {
  padding-left: 5%;
}
.my-security-page {
  padding-left: 5%;
}
.user-content {
  padding: 3%;
}
/*page padding reset::profile*/
.input-padding-reset {
  padding-left: 5%;
}
.input-padding-reset .control-label {
  padding-left: 0 !important;
}
.my-profile-page .control-label {
  padding-left: 5%;
}
