/*ui-infoDetails*/
.user-main .about .secondary dl {
  margin-left: 10px;
}
.my-detail-class {
  background-color: white;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}
.my-detail-class dd {
  padding: 0;
  color: var(--primary);
  display: inline-flex;
}
.my-detail-class dt {
  color: var(--secondary-medium);
  display: inline-flex;
}
.my-detail-class div {
  line-height: 1%;
  display: inline-block;
}
.mybox-stlye div {
  display: inline-block;
  margin-inline: 5%;
}
.biofont {
  margin-top: 0;
  font-size: small;
  font-weight: 400;
}
.biofont span {
  font-weight: 300;
  display: inline-flex;
}
.biofont p {
  display: inline-flex;
}
.user-main .about .details .primary {
  margin-top: 5%;
}
.user-main .collapsed-info.about .details {
  padding: 5%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 1%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background-color: white;
}
.user-main .about.collapsed-info .details .primary .avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.mobile-nav {
  line-height: 50px;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
#main-outlet-wrapper {
  background-color: #ededed;
}
.user-content-wrapper .user-additional-controls + .user-content,
.user-content-wrapper .user-secondary-navigation + .user-content {
  grid-column-start: 1;
  border-radius: 2em;
  padding: 15px;
}

/*navi bar*/
.user-content-wrapper {
  background-color: white;
  margin-top: 3%;
  border-radius: 2em !important;
  column-gap: 2px;
}
.mobile-nav li {
  border-bottom: solid #c7bebe 0.1px;
}
.mobile-nav li a.active {
  color: var(--secondary);
  background-color: var(--quaternary);
  border-radius: 10px;
  transition: all 0.3s linear;
}
/* navi-outlet-content*/
.user-main .user-content {
  padding: 5%;
  border-radius: 10;
}
