/* hide toolbar disable btn in profile page*/
.my-profile-page {
  .ttl-dice {
    display: none;
  }
  .ttl-spoiler {
    display: none;
  }
  .code {
    display: none;
  }
  .bullet {
    display: none;
  }
  .list {
    display: none;
  }
}
